$bg-black: black;
$highlight-color: #d7fa00;
$text-grey: rgb(160, 160, 160)

@mixin flex($direction: row, $justify: center, $align: center){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin font-style($size, $weight: 400, $color:inherit){
  font-size: $size
  font-weight: $weight
  color: $color;
}

.header-container {
  @include flex(row, space-between, center);
  padding: 10px 20px;
  background-color: $bg-black;

  ul {
    @include flex(row, center, center);
    gap: 20px;

  li {
    list-style: none;
    @include font-style(13px, 400)
  }
}
}

section {
  @include flex(row, flex-start, flex-start);
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 40px;
}

.content-container {
  @include flex(column, flex-start, flex-start);
  gap: 5px;
  
  img {
  width: 300px;
  border-radius: 10px;
  margin-bottom: 3px;
}
span {
  @include font-size(12px);
  color: #d7fa00;
  border: 1px solid $highlight-color;
  padding: 4px 5px;
  border-radius: 3px;
}
div {
  @include font-style (18px, 600);
}
p {
  @include font-style (12px, 400, $text-grey);
}
}